<% @page_title = "#{competition_name} Awards" %>
<% mcab_qe_tag = competition_data.mcab? ? (params[:mode] == 'download' ? "\<%= mcab_qe %\>" : mcab_qe) : '' %>

<% if competition_data.mcab? -%>
  <p>
    A <%= mcab_qe_tag %> denotes the MCAB qualifying entry.
  </p>
<% end -%>

<table class="resultstable" summary="This table lists the <%= competition_name %> winners by award category">
  <%= render(:partial => 'medals', :collection => @medals, :locals => { :mcab_qe_tag => mcab_qe_tag}) %>
</table>
<br />
<table class="resultstable" summary="This table lists the Best-of-Show winners">
  <% if Award.bos_awards.length == 1 -%>
    <%= render(:partial => 'bos', :object => @bos,
                                  :locals => { :separate_headers => false }) %>
  <% else -%>
    <%= render(:partial => 'bos', :object => @beer_bos,
                                  :locals => { :bos_type => 'Beer',
                                               :separate_headers => false }) %>
    <%= render(:partial => 'bos', :object => @mead_bos,
                                  :locals => { :bos_type => 'Mead/Cider',
                                               :separate_headers => false }) %>
  <% end -%>
</table>
<br />
<table class="resultstable" summary="This table lists the individual rankings">
  <%= render(:partial => 'individuals', :locals => { :individuals => @individuals,
                                                     :points => true }) %>
</table>
<br />
<table class="resultstable" summary="This table lists the club rankings">
  <%= render(:partial => 'clubs', :locals => { :clubs => @clubs }) %>
</table>
