<% @page_title = "Change Password for #{h @user.login}"
   @user.password = @user.password_confirmation = nil %>

<div id="password-form">
  <% form_for @user, :url => update_password_user_path(@user) do |f| %>
    <fieldset>
      <ol>
        <li>
          <%= f.label :current_password, 'Current Password' %>
          <%= f.password_field :current_password %>
          <%= f.error_message_on :current_password, :preprend_text => 'Password ' %>
        </li>
        <li>
          <%= f.label :password, 'New Password' %>
          <%= f.password_field :password %>
          <%= f.error_message_on :password, :preprend_text => 'Password ' %>
        </li>
        <li>
          <%= f.label :password_confirmation, 'Confirm New Password' %>
          <%= f.password_field :password_confirmation %>
          <%= f.error_message_on :password_confirmation, :preprend_text => 'Password ' %>
        </li>
      </ol>
      <div class="flash-error"><%= h flash[:password_error] %></div>
    </fieldset>
    <div class="form-buttons">
      <%= submit_tag 'Save' %>
      <%= submit_tag 'Cancel', { :name => 'cancel' } %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  Form.focusFirstElement('edit_user_<%= @user.id %>');
</script>
