<% name = h(@user.not_using_openid? ? @user.login : @user.display_name)
   tag = @user.not_using_openid? ? '' : image_tag('openid-logo-small.gif', :alt => '(OpenID)', :size => '25x25')
   @page_title = "Profile for #{name}"
   @page_header = "#{@page_title} #{tag}"
   @user.password = @user.password_confirmation = nil
 %>

<div id="user-profile">
  <dl>
    <%- if @user.not_using_openid? -%>
      <dt>Username</dt><dd><%= h @user.login %></dd>
      <dt>Name</dt><dd><%= h @user.name %></dd>
      <dt>Email</dt><dd><%= h @user.email %></dd>
      <dt>Password</dt><dd><%= link_to '(change)', change_password_user_path(@user) %></dd>
    <%- else -%>
      <dt>Name</dt><dd><%= h @user.name %></dd>
      <dt>Email</dt><dd><%= h @user.email %></dd>
      <dt>OpenID</dt><dd><%= h @user.identity_url %></dd>
    <%- end -%>
  </dl>
  <div class="buttons">
    <%= button_to 'Edit', edit_user_path(@user), :method => :get %>
  </div>
</div>
