<% @page_title = 'Purge Old Data' %>

<% if @allowed -%>
  <p>
    This page allows you to purge old data from the
    <%= PurgeOldData.tables_to_clear.to_sentence.gsub('_',' ') -%> tables
    and the BJCP points and organizer designation saved in the judges table.
    Such a purge should be done prior to enabling online registration for
    a new competition to prevent the previous year&rsquo;s data from
    inteferring with the data for a new competition.
  </p>

  <p>
    <strong>WARNING:</strong> Do not purge old data until you are positive
    that you no longer need the old data. A database backup is highly
    recommended before you proceed.
  </p>

  <div id="purge-form">
    <p>
      The following tables will be cleared:
      <%= PurgeOldData.tables_to_clear.collect{|table_name| h(table_name.humanize)}.sort.to_sentence %>.
    </p>
    <p>
      Select additional tables to clear from the following list:
    </p>
    <% form_for(:tables, :url => admin_purge_data_path) do |form| -%>
      <ul>
        <% PurgeOldData.optional_tables_to_clear.sort.each do |table_name| %>
          <li><%= check_box_tag "table[#{table_name}]", '1', false %><span><%= h table_name.humanize %></span></li>
        <% end %>
      </ul>
      <p class="clearfloat">
        Users with admin rights will not be deleted from the users table.
        You must delete such users manually.
      </p>
      <div class="form-buttons">
        <%= submit_tag 'Zap &rsquo;em!' %>
      </div>
    <% end -%>
  </div>
<% else -%>
  <p>
    Competition data cannot be purged until after the competition has
    concluded on <%= @competition_date -%>.
  </p>
<% end -%>
