<% @page_title = "Complete List of Styles" %>

<% cache(:styles_complete) do %>

<% @categories.sort.each do |category| -%>
  <h2><%= h category.name %></h2>
  <div class="stylecategory">
    <% category.awards.sort.each do |award| -%>
      <h3><%= h award.name %></h3>
      <% if award.styles.count > 1 -%>
        <p>One set of ribbons will be awarded for the <%= award.styles.count %> sub-categories below.</p>
      <% end -%>
      <dl>
        <% award.styles.sort.each do |style| -%>
          <dd><strong><%= h style.category %></strong> <%= create_description_link(style.name, style.description_url) %></dd>
        <% end -%>
      </dl>
    <% end -%>
  </div>
<% end -%>

<% end %>
