<% @page_title = "#{competition_name} Styles" %>

<% cache(:styles_index) do %>

<p>
  All BJCP beer, mead, and cider styles will be judged using the 2008 BJCP style guidelines.
<% if special_styles.size > 0 %>
  Additionally, <%= pluralize(special_styles.size, 'special style') %> will also be judged.
<% end %>
  Please refer to the <%= link_to('complete list of styles', all_styles_path) %> that will be judged.
</p>

<% if special_styles.size > 0 %>
<p>
  Specific information for the <%= 'special styles'.send(special_styles.size > 1 ? :pluralize : :to_s) %>
  can be found at the following <%= 'link'.send(special_styles.size > 1 ? :pluralize : :to_s) %>:
</p>

<ul>
  <%- special_styles.each do |style| -%>
    <li><%= create_description_link(style.name, style.description_url) %></li>
  <%- end -%>
</ul>
<% end %>

<p>
  Please refer to the BJCP style guidelines from the BJCP web site
  <span class="noprint">in <%= link_to('PDF format', 'http://www.bjcp.org/docs/2008_Guidelines.pdf') %>
  or <%= link_to('HTML format', 'http://www.bjcp.org/2008styles/catdex.php') %></span> for
  complete style descriptions<% if special_styles.size > 0 %> for all BJCP styles<% end %>.
</p>

<% end %>
