<table class="reporttable">
  <thead>
    <tr class="table-header">
      <th colspan="3">Style</th>
      <th class="numeric">Entries</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="table-footer">
      <th colspan="4">&nbsp;</th>
    </tr>
  </tfoot>
  <tbody>
    <%- categories.sort.each do |category| -%>
      <tr class="category-header">
        <th colspan="4"><%= h category.name %></th>
      </tr>
      <%- category.awards.sort.each do |award| -%>
        <tr class="award-header">
          <th>&nbsp;</th>
          <th colspan="2"><%= h award.name %></th>
          <th class="numeric"><%= award.styles.inject(0){|sum,s| sum + (style_counts[s.id] || 0)} %></th>
        </tr>
        <%- award.styles.sort.each do |style| -%>
          <tr>
            <td>&nbsp;</td>
            <td><%= style.category %></td>
            <td><%= style.name %></td>
            <td class="numeric"><%= style_counts[style.id] || 0 %></td>
          </tr>
        <%- end -%>
      <%- end -%>
    <%- end -%>
    <tr class="total">
      <th colspan="3">Total</th>
      <th class="numeric"><%= number_with_delimiter(style_counts.values.inject(0){|sum,c| sum + c}) %></th>

    </tr>
  </tbody>
</table>
