<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= page_title_tag %>
  <%= javascript_include_tag :defaults, :cache => 'cache/base' %>
  <%= javascript_include_tag 'admin' %>
  <%= calendar_date_select_includes :plain %>
  <%= active_scaffold_includes :default, :cache => 'cache/active_scaffold_default' %>
  <%= stylesheet_link_tag 'active_scaffold-overrides', 'calendar_date_select-overrides', 'application', 'admin', :media => nil %>
  <%= stylesheet_link_tag 'screen', :media => "screen" %>
  <%= stylesheet_link_tag 'print', :media => "print" %>
  <!--[if IE]>
    <%= stylesheet_link_tag 'ie_hacks', :media => "screen" %>
    <![if lt IE 7]>
      <%= stylesheet_link_tag 'ie-print_hacks', :media => "print" %>
    <![endif]>
    <%= javascript_include_tag 'ie_hacks' %>
  <![endif]-->
</head>
<body <%= @body_attributes || '' -%>>
  <div id="bodyWrapper">
    <%= render :partial => "layouts/header" %>

    <div id="content">
      <% unless current_user.nil? -%>
        <div id="user-info">
          <span>Logged in as <%= current_user.display_name -%></span>
        </div>
      <% end -%>
      <div id="clearheader"></div>
      <%= page_header_tag if @page_header || @page_title %>
      <% if flash[:error] -%>
        <div class="flash-error">
          <p><%= flash[:error] %></p>
        </div>
      <% elsif flash[:warning] -%>
        <div class="flash-warning">
          <p><%= flash[:warning] %></p>
        </div>
      <% elsif flash[:message] -%>
        <div class="flash-message">
          <p><%= flash[:message] %></p>
        </div>
      <% elsif flash[:notice] -%>
        <div class="flash-notice">
          <p><%= flash[:notice] %></p>
        </div>
      <% end -%>
      <%= yield %>
    </div>
    <div id="clearfooter"></div>
  </div>
  <%= render :partial => "layouts/admin_footer" %>

</body>
</html>
